body {
  background: #050505;
  color: #ffffff;
  margin: 0px;
  padding-left: 100px;
  padding-right: 100px;
}
.photo {
  width: 100%;
  max-width: 480px;
  height: 380px;
  
  background: url("../imgs/crypto.jpg") no-repeat;
  background-size: contain;
  margin: 20px auto 0;
}
.insta {
  width: 100%;
  max-width: 480px;
  height: 380px;
  background: url("../imgs/insta.png") no-repeat;
  background-size: contain;
  margin: 0px auto 0;
}
.chat {
  width: 100%;
  max-width: 480px;
  height: 380px;
  background: url("../imgs/chatbox.jpg") no-repeat;
  background-size: contain;
  margin: 20px auto 0;
}
.quiz {
  width: 100%;
  max-width: 480px;
  height: 380px;
  background: url("../imgs/fezzant.jpg") no-repeat;
  background-size: contain;
  background-position: top;
  margin: 20px auto 0;
}
.who {
  width: 100%;
  max-width: 480px;
  height: 380px;
  background: url("../imgs/who.jpg") no-repeat;
  background-size: contain;
  margin: 20px auto 0;
}
@media (max-width: 768px) {
  body {
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .photo {
    height: 250px;
  }
  .insta {
    height: 250px;
  }
  .chat {
    height: 250px;
  }
  .quiz {
    height: 250px;
  }
  .who {
    height: 250px;
  }
}
