body {
  background: #123382;
  color: #ffffff;
  margin: 0px;
  padding-left: 80px;
  padding-right: 20px;
}

@media (max-width: 768px) {
  body {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
